@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-9xs-4: 3.4px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-11xl-9: 30.9px;
  --font-size-6xl: 25px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-4xl: 23px;
  --font-size-46xl: 65px;
  --font-size-33xl: 52px;
  --font-size-20xl: 39px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-cornflowerblue-100: #87b2ff;
  --color-cornflowerblue-200: rgba(98, 136, 206, 0.6);
  --color-cornflowerblue-300: rgba(135, 178, 255, 0.3);
  --color-black: #000;
  --color-darkgray: #a8acaf;
  --color-midnightblue-100: #0f0049;
  --color-midnightblue-200: #02033b;
  --color-midnightblue-300: rgba(15, 0, 73, 0.5);
  --color-snow: #fffcfc;
  --color-lightcyan-100: #e0f8f2;
  --color-lightcyan-200: #d9f2f7;
  --color-lightcyan-300: #ccf0e8;
  --color-lightcyan-400: rgba(204, 240, 232, 0.93);
  --color-gray-100: #fffefe;
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-gray-300: rgba(255, 255, 255, 0.93);
  --color-silver: rgba(196, 196, 196, 0.39);
  --color-dimgray: #58595d;
  --color-darkslategray: #2e2f35;
  --color-mediumaquamarine: #16d5a8;
  --color-darkcyan: #009387;
  --color-lightsteelblue: #b8d0ee;
  --color-sandybrown: #ffa666;
  --color-khaki: #ffd978;
  --color-skyblue: #93e7fe;
  --color-deepskyblue: #17c3e9;

  /* Gaps */
  --gap-1026xl-7: 1045.7px;
  --gap-5xs-5: 7.5px;
  --gap-24xl-2: 43.2px;
  --gap-16xl-8: 35.8px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-99xl: 118px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-5xl: 24px;
  --gap-9xs-6: 3.6px;
  --gap-90xl: 109px;
  --gap-8xs: 5px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-7xs: 6px;
  --gap-10xs: 3px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-12xl-5: 31.5px;
  --gap-9xs-7: 3.7px;
  --gap-10xs-5: 2.5px;
  --gap-35xl: 54px;
  --gap-35xl-1: 54.1px;
  --gap-148xl: 167px;
  --gap-64xl: 83px;
  --gap-23xl: 42px;
  --gap-7xl: 26px;
  --gap-3xl-6: 22.6px;
  --gap-6xs: 7px;
  --gap-7xl-7: 26.7px;
  --gap-4xl-1: 23.1px;
  --gap-13xl: 32px;
  --gap-4xl-3: 23.3px;
  --gap-smi: 13px;
  --gap-6xl-5: 25.5px;
  --gap-base-5: 15.5px;
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-sm: 14px;
  --gap-228xl: 247px;
  --gap-43xl: 62px;
  --gap-12xl: 31px;
  --gap-104xl: 123px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-8xs-1: 4.1px;
  --padding-14xl: 33px;
  --padding-21xl-1: 40.1px;
  --padding-9xs-3: 3.3px;
  --padding-4xs: 9px;
  --padding-13xl: 32px;
  --padding-2xl-7: 21.7px;
  --padding-15xl-6: 34.6px;
  --padding-4xs-3: 8.3px;
  --padding-smi-6: 12.6px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-6xs-9: 6.9px;
  --padding-7xs-9: 5.9px;
  --padding-8xs-3: 4.3px;
  --padding-12xs: 1px;
  --padding-12xs-5: 0.5px;
  --padding-64xl: 83px;
  --padding-761xl: 780px;
  --padding-16xl: 35px;
  --padding-311xl: 330px;
  --padding-4xl: 23px;
  --padding-195xl: 214px;
  --padding-35xl: 54px;
  --padding-488xl: 507px;
  --padding-113xl: 132px;
  --padding-47xl: 66px;
  --padding-19xl: 38px;
  --padding-xl: 20px;
  --padding-77xl: 96px;
  --padding-67xl: 86px;
  --padding-207xl: 226px;
  --padding-110xl: 129px;
  --padding-290xl: 309px;
  --padding-5xl: 24px;
  --padding-27xl: 46px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-49xl: 68px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-lg: 18px;
  --padding-2xl: 21px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-6xl: 25px;
  --padding-6xs-5: 6.5px;
  --padding-98xl: 117px;
  --padding-65xl-4: 84.4px;
  --padding-24xl-2: 43.2px;
  --padding-24xl: 43px;
  --padding-11xs-6: 1.6px;
  --padding-88xl: 107px;
  --padding-128xl: 147px;
  --padding-158xl-5: 177.5px;
  --padding-56xl: 75px;
  --padding-26xl: 45px;
  --padding-54xl: 73px;
  --padding-18xl: 37px;
  --padding-10xl: 29px;
  --padding-30xl: 49px;
  --padding-51xl: 70px;
  --padding-96xl: 115px;
  --padding-56xl-7: 75.7px;
  --padding-62xl-5: 81.5px;
  --padding-34xl: 53px;
  --padding-43xl: 62px;
  --padding-22xl: 41px;
  --padding-90xl-5: 109.5px;
  --padding-21xl: 40px;
  --padding-52xl: 71px;
  --padding-65xl-2: 84.2px;
  --padding-104xl-8: 123.8px;
  --padding-41xl: 60px;
  --padding-36xl: 55px;
  --padding-61xl: 80px;
  --padding-3xl: 22px;
  --padding-28xl: 47px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-39xl-5: 58.5px;
  --padding-116xl-5: 135.5px;
  --padding-69xl: 88px;
  --padding-7xl: 26px;
  --padding-12xs-2: 0.2px;
  --padding-57xl: 76px;
  --padding-304xl: 323px;
  --padding-191xl: 210px;
  --padding-117xl: 136px;
  --padding-93xl: 112px;
  --padding-109xl: 128px;
  --padding-29xl: 48px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-757xl: 776px;
  --padding-175xl: 194px;
  --padding-369xl: 388px;
  --padding-59xl: 78px;
  --padding-539xl: 558px;
  --padding-217xl: 236px;
  --padding-20xl: 39px;
  --padding-344xl: 363px;
  --padding-58xl: 77px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-29xl: 48px;
  --br-31xl: 50px;
  --br-17xl-7: 36.7px;
  --br-smi: 13px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-11xl: 30px;

  /* Effects */
  --drop-shadow-600: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
}
